html, body {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

body {
	color: #333;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.screen {
	position: absolute;
	overflow: auto;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	padding: 24px 18px;

	background: white;
	
	transition: 0.125s linear;
}

.overlay {
	transition: 0.125s linear;
}